body {background-color: rgb(3, 238, 148);}

body {
    text-align: center;
}

h1 {
    color: rgb(0, 34, 66);
}

input {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(72, 80, 187);
}